body {
  margin: 25px;
}

p {
  text-align: justify;
}

h1 {
  text-align: center;
  background-color: lightgreen;
  margin-bottom: 5px;
}

.sidebar {
  float: right;
  width: 25%;
  border: 2px dashed orange;
  padding: 5px;
  margin: 5px;
}

.floating {
  width: 25%;
  float: left;
  margin: 5px;
}

#sidebar-title {
  text-align: center;
  margin-top: 11px;
}
